footer {
  background-color: darken($white, 75%);
  padding: 5% 0 10% 20px;
  color: $white;

  h2 {
    color: $white;
  }

  .text,
  .text-partenaire {
    width: 70%;
    line-height: 0.5;
    @include flexAlign(start);
    gap: 15px;

    .i {
      padding-right: 5%;
    }
  }

  .text-partenaire {
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
