// Header
header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  align-items: center;

  img {
    display: inline-block;
    text-align: center;
    margin-left: 5.5em;
  }

  a {
    color: rgb(47, 45, 45);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 20px;
  }

  & i:hover {
    @include zoom;
  }
}
