// _loading-spinner.scss

// Taille du spinner
$spinner-size: 40px;

// Couleur du spinner
$spinner-color: #007bff; // Couleur principale

// Épaisseur des barres
$spinner-thickness: 4px;

.loading-spinner {
  position: relative;
  width: $spinner-size;
  height: $spinner-size;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: $spinner-size - $spinner-thickness;
    height: $spinner-size - $spinner-thickness;
    border-radius: 50%;
    border: $spinner-thickness solid $spinner-color;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
  }

  &:after {
    animation-direction: reverse;
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
