// _index.scss

// Importation des dépendances ou des mixins nécessaires
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";

// Styles spécifiques à la page d'index
@media (max-width: 768px) {


  // Styles spécifiques à la mise en page, aux sections, etc.
  
  .header {
    text-align: center;
    border: px solid rgb(228, 50, 50);
  }


  .footer {
    background-color: $secondary-color;
    color: white;
    padding: 20px;
    text-align: center;
  }

  // Autres styles spécifiques à la page d'index
}
