// Importations nécessaires
@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/animations";

.loader {
  $animation-duration: 1s;
  $animation-count: 2;
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0; //  permet de définir un top à 0, un bottom à 0, un left à 0, un right à 0
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms $animation-duration * $animation-count forwards;
  // animation-fill-mode: forwards;
  transform-origin: top;
  &::after {
    content: "Hello";
    height: 100px;
    width: 100px;
    border-right: 5px solid transparent;
    border-top: 5px solid blue;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 40%;
    animation: spin $animation-duration ease-in-out;
    animation-iteration-count: 2;
  }
}

.search-destination {
  background-color: $shadow;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    i {
      margin-right: 5px;
      font-size: 20px;
    }
  }
  input {
    background-color: $shadow;
    border: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 200px;
  }
}

.discovery {
  background-color: $greyClair;
  @include flexCenter;

  h1 {
    font-size: 1.5rem;
  }
  p {
    width: 360px;
    font-size: 1.1rem;
  }
  button {
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 15%;
    width: 70%;
    border-radius: 40px;
    color: $white;
    @include gradient-background;
    height: 60px;
    border: none;
    font-size: 18px;
  }
}

.functioning {
  width: 85%;
  margin: 0 auto;

  & h2 {
    font-size: 30px;
  }

  .choose {
    position: relative;
    @include fonctioning;
    @include flexAlign;
    color: grey;

    &:hover {
      background: $secondary-color;
      opacity: 0.5;
    }
    .number {
      @include flexAlign;
      color: $white;
      font-size: 15px;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      background-color: $primary-color;
      position: absolute;
      left: -15px;
    }
    .titre-menu {
      position: absolute;
      left: 75px;
    }
  }

  i {
    position: absolute;
    left: 40px;
  }

  .compose {
    @include fonctioning;
    @include flexAlign;
    position: relative;

    &:hover {
      background: $secondary-color;
      opacity: 0.3;
      & i {
        color: purple;
      }
      color: black;
    }

    .number {
      @include flexAlign;
      color: $white;
      font-size: 15px;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      background-color: $primary-color;
      position: absolute;
      left: -15px;
    }
  }

  .taste {
    @include fonctioning;
    @include flexAlign;
    position: relative;
    color: gray;
    .titre-menu {
      position: absolute;
      left: 75px;
    }
    &:hover {
      background: $secondary-color;
      opacity: 0.5;
    }
    .number {
      @include flexAlign;
      color: $white;
      font-size: 15px;
      border-radius: 50px;
      width: 25px;
      height: 25px;
      background-color: $primary-color;
      position: absolute;
      left: -15px;
    }
  }

  p {
    font-weight: bold;
    margin: 0;
  }
}

.section-menu {
  background-color: $greyClair;
  padding-bottom: 50px;

  h2 {
    margin-left: 25px;
    font-size: 30px;
  }

  .card,
  a {
    background-color: $white;
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 5%;
    position: relative;
  }

  .other-card {
    border-radius: 20px;
    text-decoration: none;
    margin: auto;
    margin-bottom: 5%;
    background-color: $white;
    width: 90%;
    display: block;
  }

  img {
    border-radius: 20px 20px 0 0px;
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    height: 200px;
    position: relative;
  }
  .new-menu {
    width: 100px;
    height: 40px;
    color: green;
    background-color: $tertiary-color;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    @include flexAlign;
  }

  h2 {
    padding-top: 30px;
  }

  p,
  h3 {
    color: black;
    font-weight: bold;
    font-size: 16px;
  }

  span {
    color: black;
  }

  .text-card {
    margin-left: 20px;
    line-height: 0.5;
    padding-bottom: 20px;
    position: relative;
  }
  & i {
    color: black;
    width: 20px;
    height: 20px;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 5%;
    transform: translate(-50%);
  }
  .fas::before {
    @include gradient(1);
    color: transparent;
    background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out;
  }
  & .fas:hover::before {
    opacity: 1;
    transform: translate(-50%) scale(1.1);
  }
}

.page-menu {
  background-color: $tertiary-color;
  color: $tertiary-color;
  font-family: $tertiary-color;

  .menu-header {
    padding: 20px;
    text-align: center;
    font-size: 24px;
  }

  .menu-list {
    padding: 20px;

    .menu-item {
      margin-bottom: 10px;
      border: 1px solid $tertiary-color;
      padding: 10px;

      &:hover {
        background-color: $tertiary-color;
        color: $tertiary-color;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
    }
  }
}
// @media (min-width: 600px) and (max-width: 767px) {
//   /* Styles pour les petites tablettes en mode portrait */
//   .new-menu {
//     color: green;
//     background-color: $tertiary-color;
//     max-width: 70px;
//     max-height: 20px;
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin-top: 20px;
//     margin-right: 20px;
//     padding: 2%;
//   }
// }
// @media (min-width: 769px) and (max-width: 1199px) {
//   /* Styles pour les petits écrans de desktop */
//   .new-menu {
//     color: green;
//     display: inline-block;
//     background-color: $tertiary-color;
//     max-width: 40px;
//     max-height: 10px;
//     position: absolute;
//     top: 0;
//     right: 0;
//     margin-top: 20px;
//     margin-right: 20px;
//     padding: 2%;
//   }

