@import "../layout/header";
@import "../layout/footer";

@media screen and (min-width: 375px) {
  main {
    height: auto;
    // background-color: $greyClair;
    // margin-bottom: -30px;
  }
  .img-menu {
    & img {
      width: 100%;
      display: block;
      margin: auto;
      background-image: cover;
      height: 300px;
      position: relative;
    }
  }

  .block__meal {
    background-color: $greyClair;
    border-radius: 50px 50px 0 0px;
    transform: translate(0px, -70px);
    // height: 1200px;

    & .title_meal {
      display: flex;
      align-items: center;
      height: 50px;
      padding-top: 30px;
      @include heart-animated;
    }
    h1 {
      font-family: "shrikland", "sans-serif";
      padding: 20px;
      font-size: 2rem;
      font-style: italic;
    }
    
  }

  .block__entry {
    padding: 5%;
    & .block__entry-titre {
      position: relative;
    }
    & .block__entry-titre::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 50px;
      height: 5px;
      background-color: aquamarine;
    }

    & .block__entry__entry-1,
    .block__entry__entry-2,
    .block__entry__entry-3,
    .block__entry__entry-4 {
      background-color: #fff;
      padding: 1rem;
      display: flex;
      border-radius: 0.75rem;
      margin: 1rem 0;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      max-width: 100%;
    }

    .delay-1 {
      animation-delay: 0.1s;
    }

    .text-ellipsis {
      padding: 10px 0 0 10px;
      margin: 0;
    }

    .entry-1-1,
    .entry-1-2,
    .entry-1-3,
    .entry-1-4 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 300px;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0%;
    }

    .price {
      font-weight: bold;
      // margin-right: 7.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }

    .confirmation {
      background-color: #99e2d0;
      margin: -1rem -5rem -1rem 1rem;
      width: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition-duration: 0.5s;
      overflow: hidden;
      position: relative;
      display: none;
    }

    .box {
      height: 1.6rem;
      width: 1.6rem;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      transform: rotate(180deg);
      transition-duration: 0.5s;
      position: absolute;
    }

    i {
      transition: 1s;
      animation: rotateIcon 2s linear;
      color: #99e2d0;
    }

    @keyframes moveLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100px);
      }
    }

    @keyframes rotateIcon {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-180deg);
      }
    }
  }

  .block__flat {
    margin-top: 50px;

    & .block__flat-titre {
      position: relative;
    }
    .block__flat-titre::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 0;
      width: 50px;
      height: 5px;
      background-color: aquamarine;
    }

    & .block__flat__flat-1,
    .block__flat__flat-2,
    .block__flat__flat-3 {
      background-color: #fff;
      padding: 1rem;
      display: flex;
      border-radius: 0.75rem;
      margin: 1rem 0;
      box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
      max-width: 100%;
    }
    .text-ellipsis {
      margin-left: 10px;
    }

    .flat-1-1,
    .flat-1-2,
    .flat-1-3 {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 300px;
    }

    .box {
      @include flexAlign;
      background-color: aquamarine;
      height: 135%;
      overflow: hidden;
      transform: translate(0px, -19px);
      color: $white;
      border-radius: 0 10px 10px 0;
      font-size: 20px;
    }
    .box:active {
      animation: moveLeft 3s;

      height: 135%;
    }
    i {
      transition: 1s;
      animation: rotateIcon 2s linear;
    }

    @keyframes moveLeft {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50px);
      }
    }

    @keyframes rotateIcon {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-180deg);
      }
    }
  }
}

.block__dessert {
  & .block__dessert-titre {
    position: relative;
  }
  .block__dessert-titre::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 50px;
    height: 5px;
    background-color: aquamarine;
  }

  & .block__dessert__dessert-1,
  .block__dessert__dessert-2,
  .block__dessert__dessert-3 {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    border-radius: 0.75rem;
    margin: 1rem 0;
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
    max-width: 100%;
  }
  .text-ellipsis {
    margin-left: 10px;
  }

  .dessert-1-1,
  .dessert-1-2,
  .dessert-1-3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 300px;
  }
}

.box {
  @include flexAlign;
  background-color: aquamarine;
  height: 135%;
  overflow: hidden;
  transform: translate(0px, -19px);
  color: $white;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}
.box:active {
  animation: moveLeft 3s;
  height: 135%;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50px);
  }
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.order {
  @include gradient-background;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  color: $white;
  border: none;
  display: block;
  margin: 30px auto;
  font-size: 20px;
}
